.assortment {
  background: url("../img/background/bg__assortment.png") center center / cover no-repeat;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
  }
}

.assortment__container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  position: relative;
  width: 100%;

}

.assortment__title {
  margin-top: rem(102px);
  margin-left: 5%;
  color: #FFF;

  @include phones {
    margin-left: 1%;
  }
}

.assortment__list {
  display: flex;
  position: absolute;
  right: 0;
  height: 100%;
}

.assortment__item {
  display: flex;


  &-title {
    margin: 0;
    width: 420%;
    color: white;
    font-size: 48px;
    transform: rotate(-90deg) translate(50%, -237%);

    @include tablets {
      width: 460%;
    }

    @include phones {
      width: 553%;
      transform: rotate(-90deg) translate(50%, -250%);
    }
  }
}

.assortment__item-rotate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: rem(102px);
  cursor: pointer;

  @include phones {
    width: rem(90px);
  }

  &--bg--1 {
    background: url(../img/background/assort_title1.png) center center/cover no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }
  }

  &--bg--2 {
    background: url(../img/background/assort_title2.png) center center/cover no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }
  }

  &--bg--3 {
    background: url(../img/background/assort_title3.png) center center/cover no-repeat;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }
  }

}

.assortment__item-desc {
  background: black;
  opacity: 0.9;
  width: 0;
  transition: 0.3s;

  p {
    padding: rem(38px) rem(50px);
    color: white;

  }
}

// .assortment__item--active .assortment__item-desc {
//   width: rem(524px);

//   @include tablets {}
// }