.benefit {
  text-align: center;
}


.benefit__img-wrapper {
  display: inline-block;
  width: rem(126px);
  height: rem(126px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  width: rem(64px);
  height: rem(68px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(18px);

  @include phones {
    margin-bottom: rem(12px);
  }
}

.benefit__desc {
  p {
    color: #666;
    font-weight: 300;

    @include phones {
      font-weight: 400;
      padding-right: rem(48px)
    }
  }
}

.benefit__text {
  @include phones {
    text-align: start;
    margin-left: rem(12px);
  }
}