.fixed-menu {
  position: fixed;
  top: 32%;
  right: 4%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: .3125rem;

  &--active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: .0625rem solid transparent;
  display: block;
  position: relative;

  &::before {
    content: "";
    width: .375rem;
    height: .375rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}