.form {
  display: flex;

  @include tablets {
    flex-direction: column;
    align-items: center;
    padding: 0 19%;
  }

  @include phones {
    padding: 0;
  }

}

.form__col {
  flex: 1;
  margin-right: rem(26px);
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
    text-align: center;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);

  @include tablets {
    margin-bottom: rem(14px);
  }
}

.form__block {
  flex: 1;
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  font-family: 'Open sans';
  width: 100%;
  border: rem(3px) solid transparent;
  border-radius: rem(4px);
  height: rem(58px);
  padding: rem(18px) rem(12px) rem(20px);
  outline: none;
  font-size: rem(14px);

  &:focus {
    border-color: #DEE2BD;
    outline: none;
  }

  @include tablets {
    height: rem(36px);
  }

  &--textarea {
    height: rem(152px);
    resize: none;

    @include tablets {
      height: rem(82px);
      width: 100%;
    }
  }

}

.form__control {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(16px);

  &--mb {
    margin-bottom: rem(44px);

    @include phones {
      justify-content: center;
    }
  }
}


.form__title {
  text-align: start;
}