.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  margin-right: .3125rem;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin-right: 1.6875rem;

  &:last-child {
    margin-right: 0;
  }
}

.phone {
  display: flex;
  align-items: center;
  font-size: $defaultFontSize + .25rem;

}

.phone__icon {
  height: .875rem;
  width: .875rem;
  overflow: hidden;
  margin-right: .375rem;
}