$containerWidth: 940px;
$defaultFontSize: 18px;

$tablet: 768px;
$phone: 480px;

$blue: #61C4D9;

$z-fixed-menu: 50;
$z-screen-menu: 100;
@import "media";
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800&display=swap');
@import "normalize.css";
@import "layout";
@import "hero";
@import "header";
@import "features";
@import "feature";
@import "team";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "product";
@import "compound";
@import "slider";
@import "reviews";
@import "interctive-avatar";
@import "order";
@import "form";
@import "radio";
@import "fixed-menu";
@import "hamburger";
@import "footer";
@import "socials";
@import "sprite-style";
@import "screen-menu";
@import "modal";
@import "assortment";