.order-section {
  background: url("../img/background/bg_input.png") center center no-repeat;
  position: relative;
  align-items: center;

  &::after {
    content: url("../img/decoration/blueberry.png");
    position: absolute;
    left: 3%;
    bottom: rem(60px);
  }

  &::before {
    content: url("../img/decoration/sheet4.png");
    position: absolute;
    bottom: rem(60px);
    right: .5%;
  }

  @include tablets {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}