.order-section {
  background: url("../img/background/bg_input.png") center center no-repeat;
  position: relative;
  align-items: center;

  &::after {
    content: url("../img/decoration/blueberry.png");
    position: absolute;
    left: 3%;
    bottom: 3.75rem;
  }

  &::before {
    content: url("../img/decoration/sheet4.png");
    position: absolute;
    bottom: 3.75rem;
    right: .5%;
  }
}