.product-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include tablets {
    justify-content: center;
  }
}

.product {
  display: flex;
  margin: 0;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.product__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;

  @include tablets {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.product__row {
  @include tablets {
    flex-direction: row;
    align-items: center;
  }
}

.product-img__elem {
  @include tablets {
    max-width: rem(290px);
  }
}

.product__title {
  font-size: rem(36px);
  text-align: start;
  line-height: 1;
  margin-bottom: rem(30px);

  @include tablets {
    text-align: center;
    font-size: rem(30px);
    margin-bottom: rem(14px);
  }

  @include phones {
    padding: 0 rem(50px);
  }
}

.product__desc-text {
  color: #666;
  padding-right: 8.8rem;
  margin-bottom: rem(24px);

  @include tablets {
    text-align: center;
    line-height: 1;
    padding: 0 10rem;
  }

  @include phones {
    padding: 0 4rem;
  }
}

.product__list {
  display: flex;
  margin-bottom: rem(16px);

  @include tablets {
    justify-content: center;
  }
}

.product__item {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1;

  span {
    color: #666;

    b {
      color: #000;
    }
  }
}

.product__order {
  display: flex;
  align-items: center;
  max-height: rem(65px);

  @include tablets {
    justify-content: center;
  }
}

.product__price {
  font-weight: 300;
  font-size: 60px;
  margin-right: rem(20px);
}