.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.5rem;

  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &::before {
        background: url("../img/icon/check.svg") center center no-repeat;
      }
    }

  }
}

.radio__elem {
  display: none;

  &:checked~.radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 1.625rem;
  height: 1.625rem;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  margin-right: .625rem;

  &::before {
    content: "";
    display: none;
    width: .8125rem;
    height: .8125rem;
    background-color: #365A49;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}