.section {
  height: 100vh;
  min-height: 40.75rem;
  display: flex;

  &--font-color--green {
    color: #497870;

    .section__title {
      color: #365A49;
    }

  }
}

.section__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3.125rem;
  text-align: center;
  text-transform: uppercase;
}