.section {
  height: 100vh;
  min-height: rem(652px);
  display: flex;

  &--font-color--green {
    color: #497870;

    .section__title {
      color: #365A49;
    }

  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(50px);
  text-align: center;
  text-transform: uppercase;

  @include tablets {
    margin-bottom: rem(30px);
    padding: 0;
  }

  @include phones {
    font-size: 2.4rem;
  }

}