.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 2%;
  position: relative;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }

    @include phones {
      margin-bottom: 0;
    }
  }

  &::before {
    content: url("images/decoration/circle.png");
    position: absolute;
    top: rem(60px);
    right: 0;
    transform: translateX(50%);

    @include phones {
      display: none;
    }
  }

  @include phones {
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
  }

}

.benefits-section {
  position: relative;
  background: url("images/background/pattern_grey.png") left center no-repeat;
  align-items: center;


  &::before {
    content: url("images/decoration/raspberry.png");
    position: absolute;

    bottom: rem(-110px);

    left: 0;

    @include phones {
      display: none;
    }
  }

  @include tablets {
    background-position: left top;
  }

  @include phones {
    background: none;
  }
}