.hero {
  background: url("../img/background/pattern.png") right bottom no-repeat;
  background-color: $blue;
  height: 100%;
  min-height: rem(652px);
  color: #fff;
  position: relative;

  &::before {
    position: absolute;
    bottom: rem(-55px);

    right: 1.5%;
    content: url("../img/decoration/comp.png");
  }

  &::after {
    position: absolute;
    bottom: rem(-55px);

    left: 3%;
    content: url("../img/decoration/sheet3.png");
  }

  @include tablets {
    background-position: right bottom 77%;
    background-size: contain;

    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: rem(24px) 0 rem(50px) 0;

  background: url("../img/decoration/bar.png") right center / 50% no-repeat;

  @include tablets {
    background: none;
  }
}

.hero__title-section {
  width: 40%;

  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
      content: "";
      height: rem(300px);
      width: rem(350px);
      background: url("../img/decoration/comp1.png") center center / contain no-repeat;
      margin-bottom: 20px;
    }
  }


}

.hero__main-title {
  font-size: rem(48px);
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: rem(10px);
  margin-top: rem(17px);

  @include phones {
    line-height: 0.8;
  }
}

.hero__title-desc {
  font-size: rem(21px);
  margin-bottom: rem(37px);

  @include tablets {
    padding: 0 27%;
  }

  @include phones {
    padding: 0 14%;
  }
}