.reviews-section {
  background: url("../img/decoration/strawberry.png") right top no-repeat;
  position: relative;
  align-items: center;

  &::before {
    content: "";
    background: url("../img/background/pattern_grey2.png") center center / contain no-repeat;
    position: absolute;
    left: 0;
    bottom: rem(-175px);
    z-index: 1;
    width: rem(102px);
    height: rem(321px);

    @include phones {
      width: rem(75px);
    }

  }

  &::after {
    content: "";
    background: url("../img/decoration/berries.png") center center / contain no-repeat;
    width: rem(135px);
    height: rem(193px);
    position: absolute;
    left: 0;
    bottom: rem(-100px);
    z-index: 2;

    @include phones {
      width: rem(95px);
    }
  }


}

.reviews {
  margin-bottom: rem(12px);
}

.reviews__dispaly {
  background: url("../img/decoration/branch.png") right top no-repeat;
  background-color: #F8FAF9;
  padding: rem(50px) 0 rem(42px) rem(42px);
  position: relative;
  overflow: hidden;
  min-height: rem(350px);

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: rem(-60px);
    left: 50%;
    transform: translateX(-50%);
    width: rem(83px);
    height: rem(83px);
    border-radius: 50%;
    background-color: #fff;

    @include phones {
      display: none;
    }
  }


  @include tablets {
    padding: rem(26px);
  }
}

.reviews__display-inner {
  display: flex;
  position: absolute;
  pointer-events: unset;
  opacity: 0;
  transition: 0.2s;

  @include tablets {
    flex-direction: column;
    align-items: center;
  }
}

.review__active {
  opacity: 1;
  position: static;
  pointer-events: unset;
}

.reviews__avatar {
  width: rem(253px);
  height: rem(264px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
    margin-bottom: rem(32px);
  }
}

.reviews__avatar-elem {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(40px);
  padding-right: rem(123px);

  @include tablets {
    padding: 0;
    margin: 0 0 rem(16px) 0;
    text-align: center;

  }
}

.reviews__title {
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(12px);
  color: #292929;

  @include tablets {
    margin-bottom: rem(16px)
  }
}

.reviews__text {
  color: #666;
  margin-bottom: rem(25px);
}

.reviews__autor {
  font-weight: 500;
  color: #292929;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}