.slider {
  display: block;
  width: rem(25px);
  height: rem(41px);

}

.slider__elem {
  width: rem(24px);
  height: rem(40px);
  fill: transparent;
}


.arrow-prev {
  position: absolute;
  top: 40%;
  left: -3%;

  @include tablets {
    left: 25%;
    top: 20%;
  }

  @include phones {
    left: 1%;
    top: 20%;
  }
}

.arrow-next {
  position: absolute;
  right: 0;
  top: 40%;

  @include tablets {
    right: 22%;
    top: 20%;
  }

  @include phones {
    right: 1%;
    top: 20%;
  }
}