.socials__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    display: flex;
    justify-content: center;
  }
}

.socials__item {
  margin-right: rem(14px);
}